html {
    height: 100%;
}
body {
    margin: 0 !important;
    background-image: url('https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F04%2Fpokemon-pikachu-video-chat-backgrounds-download-info-002.jpg?q=90&w=1400&cbr=1&fit=max');
    background-size: repeat;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    height: 100%;
}
#root .carousel {
    height: 75%;
    width: 75%;
    margin: 0 auto;
}
.entered img {
    opacity: 80%;
}
.entered .middle,
.entered .bottom {
    opacity: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.glow {
    color: #fff;
    font-family: American Typewriter, serif;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #f7a2cd,
            0 0 4px #96004b, 0 0 5px #e40775, 0 0 6px #f03e97, 0 0 7px #e96caa;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6,
            0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
    }
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.bottom {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

ul li {
    list-style: none;
    float: left;
    margin: 10px;
}

ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
    opacity: 100%;
}

ul li a:hover .icon {
    transform: rotateY(360deg);
    opacity: 100%;
}

ul li a:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
}

ul li a:hover:before {
    top: 0;
}

ul li:nth-child(1) a:before {
    background: #3b5999;
}

ul li:nth-child(2) a:before {
    background: #dd4b39;
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.clearContent {
    content: '';
}

#forgeButton {
    background-color: #004a7f;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing-button 1500ms infinite;
    -moz-animation: glowing-button 1500ms infinite;
    -o-animation: glowing-button 1500ms infinite;
    animation: glowing-button 1500ms infinite;
}
@-webkit-keyframes glowing-button {
    0% {
        background-color: #00b277;
        -webkit-box-shadow: 0 0 3px #00b277;
    }
    50% {
        background-color: #ff0000;
        -webkit-box-shadow: 0 0 40px #ff0000;
    }
    100% {
        background-color: #00b277;
        -webkit-box-shadow: 0 0 3px #00b277;
    }
}

@-moz-keyframes glowing-button {
    0% {
        background-color: #00b277;
        -moz-box-shadow: 0 0 3px #00b277;
    }
    50% {
        background-color: #5decbc;
        -moz-box-shadow: 0 0 40px #5decbc;
    }
    100% {
        background-color: #00b277;
        -moz-box-shadow: 0 0 3px #00b277;
    }
}

@-o-keyframes glowing-button {
    0% {
        background-color: #00b277;
        box-shadow: 0 0 3px #00b277;
    }
    50% {
        background-color: #5decbc;
        box-shadow: 0 0 40px #5decbc;
    }
    100% {
        background-color: #00b277;
        box-shadow: 0 0 3px #00b277;
    }
}

@keyframes glowing-button {
    0% {
        background-color: #00b277;
        box-shadow: 0 0 3px #00b277;
    }
    50% {
        background-color: #5decbc;
        box-shadow: 0 0 40px #5decbc;
    }
    100% {
        background-color: #00b277;
        box-shadow: 0 0 3px #00b277;
    }
}
#forgeJumbotron {
    background-image: url('https://data.whicdn.com/images/250454956/original.jpg');
    background-size: repeat;
    font-family: 'Great Vibes', cursive;
}

#forgeJumbotron h1,
#forgeJumbotron p {
    text-shadow: 3px 3px 3px coral;
    opacity: 80%;
    padding: 10px;
    background-color: cornsilk;
}
